/* Search bar smaller */
.search-container {
  width: 260px;
}

/* Rounded smaller search input */
.search-input {
  height: 34px;
  font-size: 0.85rem;
}

.search-input:focus {
  box-shadow: none;
  background-color: #f0f0f0;
}

.bell-icon {
  position: relative;
  top: 5px;   /* You can change 3px → 2px, 4px as you like */
  padding-right: 0px;
}
/* Teal notification badge */
.notify-badge {
  background-color: #04bdbd !important; /* Light teal */
  font-size: 0.65rem;
   padding: 4px 6px; 

}

/* Avatar text size */
.avatar {
  font-size: 0.9rem;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
}
.chevron {
  font-size: 12px;
  transition: transform 0.2s ease;
}
.dropdown-menu {
  position: absolute;
  top: 42px;
  right: 0;
  background: #fff;
  min-width: 160px;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: 0.2s ease;
  z-index: 999;
}
.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown-item {
  padding: 10px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
  cursor: pointer;
  transition: 0.2s;
}
.dropdown-item:hover {
  background: #f5f6f7;
}

/* Responsiveness */
@media (max-width: 768px) {
  .search-container {
    display: none !important;
  }
}
