:host {
  display: flex;
}

app-sidebar {
  width: 250px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  position: fixed;
}

.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  padding: 1rem;
}
