<div class="success-container">
  <div class="card">
    <h2>{{ message }}</h2>

    <ng-container *ngIf="refSessionId; else loading">
    <p class="value">
        <span class="label">Transaction Ref:</span>
        <span class="val-text">{{ refSessionId }}</span>
    </p>
    <p class="value">
        <span class="label">Amount Paid:</span>
        <span class="val-text">{{ amount | currency:'$' }}</span>
    </p>
    <p class="value">
        <span class="label">Date:</span>
        <span class="val-text">{{ date | date:'medium' }}</span>
    </p>
      <p class="note">You will receive a confirmation email shortly.</p>
    </ng-container>

    <ng-template #loading>
      <p class="info-row">Verifying your payment, please wait...</p>
    </ng-template>

    <a routerLink="/dashboard" class="btn">Go to Dashboard</a>
  </div>
</div>

 
