
.upload-box {
  width: 10px;
  height: 160px;
  cursor: pointer;
  background: #fafafa;
}

.upload-box:hover {
  background: #f0f0f0;
}
.form-label {
  font-size: 14px;
}

input.form-control {
  height: 45px;
}
.dotted-border {
    border: 2px dotted #bfbfbf !important;
    height: 180px;
    border-radius: 8px;

}
.logo-box {
  height: 180px;
  width: 100%;
  border: 2px dotted #bfbfbf !important;
  cursor: pointer;
  transition: 0.2s;

}

.logo-box:hover {
  background: #f8f9fa;
  border-color: #0d6efd !important;
}