.navbar {
  width: 100%;
  background: #06191a;
  padding: 10px 25px;  /* reduced height */

  border-top-right-radius: 10;
  display: flex;
  align-items: center;    
  justify-content: space-between;
  height: 65px;           /* EXACT height so menu aligns higher */
}

/* Left Section */
.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 28px;
  width: auto;
}

/* Branding */
.brand {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.tagline {
  color: #A9D9D5;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 5px;
}

.menu {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;   /* ensures menu text aligns properly */
  margin-top: 10px;      /* raises menu items 4px upward */
}


.menu a {
  color: white;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.60;
  padding: 0;            /* remove extra padding */
}

.menu a:hover {
  opacity: 1;
}

/* Actions Right */
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Dark Mode Icon */
.dark-icon {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* Login button */
.login-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* Start Button */
.start-btn {
  background: #02E9C6;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.start-btn .arrow {
  font-size: 18px;
}
.text-group {
  display: flex;
  flex-direction: column;   /* STACKS ITEMS VERTICALLY */
  line-height: 1;           /* keeps spacing tight */
}